<div class="flex-col rounded-lg bg-white m-4 px-8 py-8 dark:bg-night-700 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-gray-900 dark:text-night-50">Primary Campaigns</h3>
      <span class="text-sm text-gray-400 dark:text-night-300">List of recent campaigns</span>
    </div>
    <button routerLink="/app/new-campaign/campaign-details"
      class="flex-none rounded-md bg-primary-600 px-4 py-2.5 text-xs font-semibold text-gray-100 hover:bg-primary-400 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
      Add New Campaign
    </button>
  </div>

  <div class="relative overflow-x-auto">


  </div>
</div>
