
<div class="flex flex-col md:flex-row">
  <div class="w-full flex-1 mx-2 svelte-1l8159u">
    <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Campaign Title</div>
      <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
          <input placeholder="Enter title" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
  </div>
</div>
<div class="flex flex-col md:flex-row">
<div class="w-full flex-1 mx-2 svelte-1l8159u">
  <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Campaign Type</div>
    <div class="my-2 p-1 flex svelte-1l8159u">
      <select id="countries" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose campaign type</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
      </select>
      </div>
</div>
</div>
<div class="flex flex-col md:flex-row">
<div class="w-full flex-1 mx-2 svelte-1l8159u">
<div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Industry</div>
  <div class="my-2 p-1 flex svelte-1l8159u">
    <select id="countries" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>Choose campaign industry</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
    </div>
</div>
</div>


<div class="flex flex-col md:flex-row">
<div class="w-full flex-1 mx-2 svelte-1l8159u">
<div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Link to your platform(Optional)</div>
<div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
    <input placeholder="Add link to your application or website" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
</div>
<div class="w-full flex-1 mx-2 svelte-1l8159u">
<div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Campaign hash tag</div>
<div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
    <input placeholder="Enter campaign tags" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
</div>
</div>

<div class="flex flex-col md:flex-row">
<div class="w-full flex-1 mx-2 svelte-1l8159u">
<div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Industry</div>
<div class="my-2 p-1 flex svelte-1l8159u">
<textarea placeholder="More about this campaign..." class="rounded-lg resize-none w-full h-full"></textarea>
</div>
</div>
</div>


<div class="flex p-2 mt-4">
<button class="text-base hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
hover:bg-gray-200
bg-gray-100
text-gray-700
border duration-200 ease-in-out
border-gray-600 transition">Previous</button>
<div class="flex-auto flex flex-row-reverse">
  <button class="text-base  ml-2  hover:scale-110 focus:outline-none flex justify-center px-4 py-2 rounded font-bold cursor-pointer
hover:bg-400-600
bg-primary-600
text-teal-100
border duration-200 ease-in-out
border-primary-600 transition">Next</button>

</div>
</div>
