<td class="py-2 pl-2 text-left">
  <span class="text-sm font-semibold text-gray-400 dark:text-night-200">{{  role.name}}</span>
</td>

<td class="py-2 pl-2 text-left row">
  <div class="flex justify-start">
    <button
      href="#"
      class="flex h-7 w-7 items-center justify-center m-2 rounded-md bg-orange-400 text-gray-200 dark:bg-night-500 dark:text-night-300">
      <svg-icon src="assets/icons/outline/edit1.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
    </button>
  <button
  href="#"
  class="flex h-7 w-7 items-center justify-center m-2 rounded-md bg-red-400 text-gray-200 dark:bg-night-500 dark:text-night-300">
  <svg-icon src="assets/icons/outline/delete.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
</button>
  </div>
</td>

