<!-- component -->
<div class="p-5">
  <div class="mx-4 p-4">
      <div class="flex items-center">
          <div class="flex active items-center text-gray-500 relative">
              <div class="cursor-pointer active rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-file-earmark-slides" viewBox="0 0 16 16">
                  <path d="M5 6a.5.5 0 0 0-.496.438l-.5 4A.5.5 0 0 0 4.5 11h3v2.016c-.863.055-1.5.251-1.5.484 0 .276.895.5 2 .5s2-.224 2-.5c0-.233-.637-.429-1.5-.484V11h3a.5.5 0 0 0 .496-.562l-.5-4A.5.5 0 0 0 11 6H5zm2 3.78V7.22c0-.096.106-.156.19-.106l2.13 1.279a.125.125 0 0 1 0 .214l-2.13 1.28A.125.125 0 0 1 7 9.778z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
              </div>
              <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Camapign Details</div>
          </div>
          <div class="flex-auto border-t-2 transition duration-500 ease-in-out"></div>
          <div class="flex items-center text-gray-500 relative cursor-pointer">
              <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="currentColor" class="bi bi-file-earmark-slides" viewBox="0 0 16 16">
                  <path d="M5 6a.5.5 0 0 0-.496.438l-.5 4A.5.5 0 0 0 4.5 11h3v2.016c-.863.055-1.5.251-1.5.484 0 .276.895.5 2 .5s2-.224 2-.5c0-.233-.637-.429-1.5-.484V11h3a.5.5 0 0 0 .496-.562l-.5-4A.5.5 0 0 0 11 6H5zm2 3.78V7.22c0-.096.106-.156.19-.106l2.13 1.279a.125.125 0 0 1 0 .214l-2.13 1.28A.125.125 0 0 1 7 9.778z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
              </div>
              <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Camapign Files</div>
          </div>
          <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
          <div class="flex items-center text-gray-500 relative">
              <div class="rounded-full transition duration-500 ease-in-out h-12 w-12 cursor-pointer py-3 border-2 border-gray-300">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail ">
                      <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                      <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
              </div>
              <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Campaign Metrics</div>
          </div>
          <div class="flex-auto border-t-2 transition duration-500 ease-in-out border-gray-300"></div>
          <div class="flex items-center text-gray-500 relative">
              <div class="rounded-full transition duration-500 cursor-pointer ease-in-out h-12 w-12 py-3 border-2 border-gray-300">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-database ">
                      <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                      <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                      <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                  </svg>
              </div>
              <div class="absolute top-0 -ml-10 text-center mt-16 w-32 text-xs font-medium uppercase text-gray-500">Campaign Budget</div>
          </div>
      </div>
  </div>
</div>

  <!--BEGINING OF CAMPAIGN DETAILS SECTION-->
  <div class="mt-4 p-4">
    <div *ngIf="filesTab">
      <form [formGroup]="detailsForm">
        <div class="flex flex-col md:flex-row">
          <div class="w-full flex-1 mx-2 svelte-1l8159u">
            <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Campaign Title</div>
              <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
                  <input
                  placeholder="Enter title"
                  formControlName="name"
                  class="p-1 px-2 appearance-none outline-none w-full text-gray-800 peer block"
                  [ngClass]="{ 'is__invalid-input': submitted && f['name'].errors }"
                  >
                </div>
                <div *ngIf="submitted && f['name'].errors" class="is__invalid-error">
                  <div *ngIf="f['name'].errors['required']">Required field</div>
                </div>
          </div>
        </div>
        <div class="flex flex-col md:flex-row">
        <div class="w-full flex-1 mx-2 svelte-1l8159u">
          <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Campaign Type</div>
            <div class="my-2 p-1 flex svelte-1l8159u">
              <select id="countries"
                (change)="onTypeChange($event)"
               formControlName="campaignCategory"
               [ngClass]="{ 'is__invalid-input': submitted && f['campaignCategory'].errors }"
               class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option selected value="">Choose campaign type...</option>
                <option  *ngFor="let choice of adtype" [ngValue]="choice.fileTypeName">{{choice.fileTypeName}}</option>
              </select>
            </div>
            <div *ngIf="submitted && f['campaignCategory'].errors" class="is__invalid-error">
              <div *ngIf="f['campaignCategory'].errors['required']">Required field</div>
            </div>
        </div>
        </div>
        <div class="flex flex-col md:flex-row">
        <div class="w-full flex-1 mx-2 svelte-1l8159u">
        <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Industry</div>
          <div class="my-2 p-1 flex svelte-1l8159u">
            <select id="countries"
            [ngClass]="{ 'is__invalid-input': submitted && f['industryName'].errors }"
            formControlName="industryName" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
              <option value="" selected>Choose campaign industry..</option>
              <option *ngFor="let choice of industry" [ngValue]="choice.industryCode">
                {{choice.industryName}}</option>
            </select>
            </div>
            <div *ngIf="submitted && f['industryName'].errors" class="is__invalid-error">
              <div *ngIf="f['industryName'].errors['required']">Required field</div>
            </div>
        </div>
        </div>


        <div class="flex flex-col md:flex-row">
          <div class="w-full flex-1 mx-2 svelte-1l8159u">
            <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Campaign hash tag</div>
              <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
                  <input placeholder="Enter campaign tags"
                  [ngClass]="{ 'is__invalid-input': submitted && f['tag'].errors }"
                  formControlName="tag"
                  class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
              </div>
              <div *ngIf="submitted && f['tag'].errors" class="is__invalid-error">
                <div *ngIf="f['tag'].errors['required']">Required field</div>
              </div>
            </div>
          <div class="w-full flex-1 mx-2 svelte-1l8159u">
          <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Link to your platform(Optional)</div>
            <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
                <input placeholder="Add link to your application or website"
                formControlName="linkUrl" class="p-1 px-2 appearance-none outline-none w-full text-gray-800"> </div>
            </div>
        </div>

        <div class="flex flex-col md:flex-row">
          <div class="w-full flex-1 mx-2 svelte-1l8159u">
            <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Description</div>
            <div class="my-2 p-1 flex svelte-1l8159u">
              <textarea
              [ngClass]="{ 'is__invalid-input': submitted && f['description'].errors }"
              placeholder="More about this campaign..."
              formControlName="description" class="rounded-lg resize-none w-full h-full"></textarea>
            </div>
            <div *ngIf="submitted && f['description'].errors" class="is__invalid-error">
              <div *ngIf="f['description'].errors['required']">Required field</div>
            </div>
          </div>
        </div>


        <div class="flex p-2 mt-4">
          <button disabled="" type="button" class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            Previous
        </button>
        <div class="flex-auto flex flex-row-reverse">

      <button *ngIf="loading" disabled type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
          <svg aria-hidden="true" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"></path>
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"></path>
          </svg>
          Loading...
      </button>
      <button (click)="saveDetails()" *ngIf="!loading" type="button" class="text-white bg-blue-700 hover:bg-blue-800 cursor-pointer focus:outline-none font-medium rounded text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
        Continue
      </button>
        </div>
        </div>
      </form>
  </div>
</div>






