<div class="flex-col rounded-lg bg-white m-4 px-8 py-8 dark:bg-night-700 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-gray-900 dark:text-night-50">New Team member</h3>
    </div>
    <button routerLink="/app/dashboard/team"
      class="flex-none rounded-md bg-primary-600 px-4 py-2.5 text-xs font-semibold text-gray-100 hover:bg-primary-400 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
     Back
    </button>
  </div>
  <div class="flex-col">
    <div class="flex justify-center" *ngIf="loading">
      <div class="loader simple-circle"></div>
    </div>

    <form [formGroup]="form" *ngIf="!loading">
      <div class="flex flex-col md:flex-row w-full">
      <div class="w-full mx-2 svelte-1l8159u">
      <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Name</div>
        <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
          <input [ngClass]="{ 'is__invalid-input': submitted && f['name'].errors }" formControlName="name"  placeholder="Name of the user" maxlength="20" class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
         </div>
         <div *ngIf="submitted && f['name'].errors" class="is__invalid-error">
          <div *ngIf="f['name'].errors['required']">Required field</div>
          <div *ngIf="f['name'].errors['pattern']">Provide a valid name</div>
        </div>
      </div>
      </div>

      <div class="flex flex-col md:flex-row w-full">
        <div class="w-full mx-2 svelte-1l8159u">
        <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Email</div>
          <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
            <input [ngClass]="{ 'is__invalid-input': submitted && f['email'].errors }" formControlName="email"  placeholder="Enter email.." maxlength="20" class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
           </div>
           <div *ngIf="submitted && f['email'].errors" class="is__invalid-error">
            <div *ngIf="f['email'].errors['required']">Required field</div>
            <div *ngIf="f['email'].errors['pattern']">Provide a valid email</div>
          </div>
        </div>
        </div>

        <div class="flex flex-col md:flex-row w-full">
          <div class="w-full mx-2 svelte-1l8159u">
          <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Password</div>
            <div class="bg-white my-2 p-1 flex border border-gray-200 rounded-lg svelte-1l8159u">
              <input [ngClass]="{ 'is__invalid-input': submitted && f['password'].errors }" formControlName="password"  placeholder="Password" maxlength="20" class="p-1 px-2 appearance-none outline-none w-full text-gray-800">
             </div>
             <div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
              <div *ngIf="f['password'].errors['required']">Required field</div>
              <div *ngIf="f['password'].errors['pattern']">Provide a valid password</div>
            </div>
          </div>
          </div>
          <div class="flex flex-col md:flex-row w-full">
            <div class="w-full flex-1 mx-2 svelte-1l8159u">
              <div class="font-bold text-gray-600 text-xs leading-8 h-6 mx-2 mt-3">Role</div>
                <div class="my-2 p-1 flex svelte-1l8159u">
                  <select [ngClass]="{ 'is__invalid-input': submitted && f['role'].errors }" formControlName="role" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected value="">Select role..</option>
                    <option  *ngFor="let role of rows" value={{role._id}}>{{role.name}}</option>
                  </select>
                </div>
                <div *ngIf="submitted && f['role'].errors" class="is__invalid-error">
                  <div *ngIf="f['role'].errors['required']">Required field</div>
                </div>
            </div>
          </div>


      <!-- <div class="grid grid-flow-col auto-cols-[300px]" *ngFor="let perm of permissions">
        <div class="p-2">
          <label for=""><input id="remember-me" formControlName="permission" (change)="addPermission($event,perm)" class="border-gray-600 bg-white cursor-pointer" name="remember-me" type="checkbox" /> {{perm.name}}</label>
        </div>
      </div> -->

      <div class="flex p-2 mt-4">
        <button  routerLink="/app/dashboard/team" type="button" class="py-2.5 px-5 mr-2 text-sm font-medium text-gray-900 bg-white rounded border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:outline-none dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
          Previous
        </button>
      <div class="flex-auto flex flex-row-reverse">

      <button *ngIf="loading" disabled type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
        <svg aria-hidden="true" role="status" class="inline mr-3 w-4 h-4 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"></path>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"></path>
        </svg>
        Loading...
      </button>
      <button (click)="saveData()" *ngIf="!loading" [disabled]="!this.form.valid" type="button" class="text-white bg-blue-700 hover:bg-blue-800 disabled:bg-blue-400 disabled:hover:bg-blue-400 disabled:cursor-not-allowed cursor-pointer focus:outline-none font-medium rounded text-sm px-5 py-2.5 text-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
         <span>Add User</span>
      </button>

      </div>
      </div>
    </form>
  </div>
</div>
