<div class="flex-col rounded-lg bg-white px-8 py-8 dark:bg-night-700 sm:flex-row">
  <div class="mb-4 flex items-center justify-between">
    <div class="flex-col items-center">
      <h3 class="text-md font-bold text-gray-900 dark:text-night-50">Geolocation Performance</h3>
      <span class="text-sm text-gray-400 dark:text-night-300">Performance by location</span>
    </div>
    <button
      (click)="onMapLoad(this.map)"
      class="flex-none rounded-md bg-primary-400 px-4 py-2.5 text-xs font-semibold text-white hover:bg-primary-200 dark:bg-night-600 dark:text-night-200 dark:hover:bg-night-500">
      View
    </button>
  </div>

  <div  class="relative overflow-x-auto">
    <!-- google-map-demo.component.html -->
    <agm-map *ngIf="viewMap" style="height: 350px;" class="app-main"  [latitude]="lat" [longitude]="long" (mapReady)="onMapLoad($event)" [zoom]=7>
    </agm-map>

  </div>
</div>
