<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <div app-campaign-clicks class="md:col-span-2"></div>
    <!-- end Dual Card -->
    <!-- Single Card -->
    <div app-campaign-gender  class="md:col-span-2"></div>
    <!-- end Single Card -->

  <!-- Dual Card -->
  <div app-conversions-impressions class="md:col-span-2"></div>
  <!-- end Dual Card -->
  <!-- Single Card -->
  <div app-age-breakdown class="md:col-span-2"></div>
  <!-- end Single Card -->

    <div nft-auctions-table class="md:col-span-4 xl:col-span-4"></div>
  </div>
</div>
